body {
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 0;
    background: #FFF1CA;
    color: #111;
}

.topbar {
    background: #2D4F2B;
    color: white;
    padding: 12px;
    font-size: 14px;
}

header {
    background: linear-gradient(to bottom, #f5a803, #fcc44c);
    color: white;
    text-align: center;
    padding: 40px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

main {
    padding: 30px 50px;

}

strong {
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-direction: column;
    /*เรียงแนวตั้ง (จากบนลงล่าง)*/
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}

.gallery img {
    width: 40%;
    border-radius: 5px;

}

.btn {
    background: #708A58;
    color: white;
    padding: 10px 20px;
    width: 180px;
    border: none;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    /*เมื่อเอาเมาส์ไปชี้ที่ปุ่ม จะเปลี่ยนเป็นรูปลูกศรแบบ "มือคลิก"*/
    -webkit-transition: width 1s, height 1s;
    /* For Safari*/
    transition: width 1s, height 1s;
    /* For browsers that do not support gradients */
}

.btn:hover {
    background: #4c5f3a;
    width: 190px;
}

footer {
    background: #2D4F2B;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 14px;
}