@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    background-color: bisque;
    font-family: "Kanit", sans-serif;

}

div {
    margin-left: 40px;
}

p {
    width: 50%;
}

.c1 h1 {
    color: darkblue;
    text-shadow: 1px 1px 30px darkblue;
    text-transform: uppercase;
}

.c1 h1::first-letter {
    font-size: 50px;
}

.c1 p {
    background-color: aliceblue;
    padding: 30px;
    width: 70%;
    border: 5px dotted gray;
    text-indent: 20px;
}

.c1 p:hover {
    box-shadow: 1px 1px 10px darkblue;
}

h2 {
    color: darkcyan;
    text-decoration: underline double darkcyan;
}

ul {
    background-color: aliceblue;
    width: 50%;
    padding: 60px;
    border: dashed 5px gray;

}

#fs1 {
    font-size: xx-small;
}

#fs2 {
    font-size: x-small;
}

#fs3 {
    font-size: small;
}

#fs4 {
    font-size: medium;
}

#fs5 {
    font-size: large;
}

#fs6 {
    font-size: x-large;
}

#fs7 {
    font-size: xx-large;
}

#fs8 {
    font-size: smaller;
}

#fs9 {
    font-size: larger;
}

.c3sp {
    color: brown;
    font-weight: bold;
}

.btn {
    background-color: red;
    padding: 15px;
    border-radius: 40px;
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(167, 0, 0);
    transition: 0.5s;
}

.c6 h2 {
    color: crimson;
    font-size: 60px;
    text-decoration: none;
}

.c6 p {
    background-color: cornsilk;
    text-indent: 30px;
    border: dashed 5px yellowgreen;
    padding: 20px;
}

.c6 p span {
    font-weight: bold;
    font-size: x-large;
    color: chocolate;
}

img {
    width: 30%;
    border: solid white 5px;
    border-radius: 5px;

}

img:hover {
    box-shadow: 0 0 2px 1px rgb(0, 255, 242);
}

.c7 {
    margin-top: 50px;
}

.code {
    background-color: aliceblue;
    padding: 10px;
    overflow: scroll;
    text-overflow: clip;
    width: 50%;
    font-size: 20px;
}

.c7 span {
    color: chocolate;
}

.c7 a {
    color: blue;
}

.c7 a:visited {
    color: blueviolet;
}

footer {
    background-color: gainsboro;
    text-align: center;
    font-size: x-large;
    padding: 20px;
}