    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Noto Sans", sans-serif;
    }

    body {
        background-color: #F9F6F3;
    }

    .logo {
        background-image: url(bg3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 50px 0;
    }

    .fontlogo h1 {

        text-align: left;
        text-transform: uppercase;
        color: #F2F2F2;
        text-shadow: 2px 2px 15px rgb(19, 18, 18);
        line-height: 70px;
    }



    .fl1 {
        font-size: 100px;
    }

    .fl2 {
        font-size: 50px;
    }

    .fl3 {
        font-size: 80px;
    }


    .logo .piclogo img {
        width: 500px;

    }

    nav.navbar {
        background-color: #1C352D;

    }

    nav.navbar ul {
        list-style: none;
    }

    nav.navbar .nav-menu {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    nav.navbar a.nav-link {
        display: block;
        padding: 1em 3em;
        /*border:  1px solid black;*/
        color: white;
        text-decoration: none;
        font-weight: bold;

    }

    nav.navbar a.drop1-link,
    nav.navbar a.drop2-link {
        display: block;
        padding: 1em 3em;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    nav.navbar .drop1-content {
        position: absolute;
        background-color: #f7e2c2;
        display: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    nav.navbar .drop2-content {
        position: absolute;
        left: 100%;
        background-color: #A6B28B;
        margin-top: -3.4em;
        display: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;


    }


    /*hover*/
    nav.navbar .nav-item:hover a.nav-link {
        background-color: #f7e2c2;
        color: black;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    nav.navbar .drop1-item:hover a.drop1-link {
        background-color: #A6B28B;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }

    nav.navbar .drop2-item:hover .drop2-link {
        color: white;
    }

    nav.navbar .nav-item:hover .drop1-btn+.drop1-content {
        display: initial;
    }

    nav.navbar .drop1-item:hover .drop2-btn+.drop2-content {
        display: initial;
    }


    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7e2c2;
        margin-bottom: 50px;
        color: #325f52;
        width: 100%;
        gap: 50px;

    }

    .piccon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* ให้รูปครอบเต็มครึ่งซ้าย/ขวา */
        display: block;



    }

    article {
        flex: 1;
        text-align: center;
        padding: 0 50px;
        max-width: 800px;
        min-width: 500px;

    }

    .content h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .content p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .more-btn a {
        text-decoration: none;
        padding: 0.5em 1em;
        border-radius: 20px;
        color: #325f52;
        transition: 0.4s;
        border: 3px solid #325f52;

    }

    .more-btn a:hover {
        background: #325f52;
        border: none;
        color: white;
        padding: 0.6em 1.1em;


    }

    footer {
        background-color: #1C352D;
        color: white;
        padding: 1em;
        text-align: center;
    }

    .topcoffee {
        display: flex;
        align-items: center;
        background-image: url(bgcoffee.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: center;
        margin: 50px 0;
    }

    .topthaifood {
        background-image: url(bgthaifood.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }

    .topinter {
        background-image: url(bginter.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }